<div class="container">
    <div class="row-fluid">
        <div class="span9">
          <h3>Products List</h3>
          <div style="float:right;padding:10px;"><%= link_to 'New Product', new_product_path ,:class=>"label label-default"%></div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ProductID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
          <% @products.each do |product| %>
              <tr class="active">
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.quantity %></td>
                <td><%= to_dollars(product.price) %></td>
                <td><%= link_to 'Edit', edit_product_path(product) %></td>
                <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
            </tbody>
          </table>
          <%= will_paginate @products  %>
        </div>
      </div>
</div>





